/* FOOTER STYLE */

.footer {
    background-color: #0b1120;
    color: white;
    padding: 50px 0 30px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.logo-img {
    height: 50px;
    width: auto;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.social-title {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-btn {
    width: 32px;
    height: 32px;
    background-color: white;
    color: #0b1120;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

.social-btn:hover {
    background-color: var(--primary-color);
    color: white;
    transform: translateY(-3px);
}
.footer-divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-bottom: 25px;
}

.copyright {
    text-align: center;
    font-size: 13px;
    color: #94a3b8;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .footer-top {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    
    .footer-socials {
        align-items: center;
    }
}