.hero {
    background-image: url(../assets/hero-bg.png); 
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 60px; 
}

/* Animation Keyframes: Fade Up */
@keyframes fadeUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

.hero-content {
    max-width: 800px;
}

.badge {
    background-color: white;
    color: var(--primary-color);
    background: rgba(255, 255, 255, 0.993);
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    line-height: 1.2;
    
    opacity: 0;
    animation: fadeUp 1s ease-out 0.3s forwards;
}

.hero h1 span {
    color: var(--primary-color);
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    opacity: 0.9;
    
    opacity: 0;
    animation: fadeUp 1s ease-out 0.6s forwards;
}

.hero-btns {
    opacity: 0;
    animation: fadeUp 1s ease-out 0.9s forwards;
}

/*BUTTON STYLES*/

/* Transparent Button Style */
.btn-outline {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.btn-outline:hover {
    background-color: white;
    color: #333; 
}

/* TYPING ANIMATION STYLES */

.typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid var(--primary-color); 
    width: 0;
    
    /* Force text color to white */
    color: #ffffff !important; 
    
    animation: 
        typing 3s steps(30, end) forwards 0.5s, 
        blink .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: var(--primary-color) }
}